.room-mist {
    $room-mist: &;
    background-color: #87807f;
    color: #262626;
<<<<<<< Updated upstream:styles/scss/section/_room-mist.scss
    /*сделать изображение х2*/

   
    #{$room-mist}__text-info {
=======
    &__text-info {
>>>>>>> Stashed changes:styles/section/_room-mist.scss
        padding-top: 120px;
        max-width: 300px;
        padding-left: 40px;

        #{$room-mist}__title {
            margin-top: 30x;
        }

        #{$room-mist}__text{
            margin-top: 40px;
            margin-bottom: 0;
        }

        #{$room-mist}__link{
            margin-top: 10px;
        }
    }



}