.background {
    padding-bottom: 40px;
    color: #CCCCCC;
    &.-brown {
        background-color: #054247;  
    }

    &.-pink {
        background-color: #A26779;
    }

    &.-black {
        background-color: #504B4D;
    }

    &.-red {
        background-color: #B04836;
    }

}