
.title{
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 0;

    &_sm{
        font-size: 15px;
        text-transform: uppercase;
        margin-top: 0;
        }
    &_lg{
        font-size: 25px;
    }
}


@media only screen and (max-width : 767px) {
    
.title{
    &_sm{
        font-size: 12px;
     
        }
    &_lg{
        font-size: 20px;
    }
}

}

@media only screen and (max-width : 479px) {

    .title{
        &_sm{
            font-size: 9px;
         
            }
        &_lg{
            font-size: 13px;
        }
    }
    

}