.hero {
    $hero: &;
    padding-bottom: 30px;
    background-color: #E7F066;

    .container {
        display: flex;

        #{$hero}__title {
            margin-top: 40px;
        }


        #{$hero}__information {
            margin-top: 140px;

            #{$hero}__information-info {
                margin-left: 40px;
                max-width: 290px;

                #{$hero}__information-text {
                    margin-top: 0;
                    margin-bottom: 0;


                }

                #{$hero}__information-link {
                    margin-top: 40px;

                }

            }

            #{$hero}__block-info {
                background-color: #1B1B1B;
                margin-top: 300px;
                margin-left: -50px;
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 50px;
                padding-bottom: 50px;

                #{$hero}__block-text {
                    margin-top: 0;
                    margin-bottom: 0;
                    color: #F1F1EE;
                }

                #{$hero}__block-link {
                    margin-top: 10px;
                }
            }
        }

    }

}