.washup {
    color: #262626;
    background-color: #ab9973;

    &__container {
        display: flex;
    }

    &__background-1 {
        height: 800px;
        width: 100%;
        flex-grow: 1;
        background-image: url(/images/washup/background-1.jpg);
        /*сделать изображение х2*/
        background-repeat: no-repeat;
        background-position: left;

    }

    &__background-2 {
        height: 800px;
        width: 100%;
        flex-grow: 1;
        background-image: url(/images/washup/background-2.jpg);
        /*сделать изображение х2*/
        background-repeat: no-repeat;
        background-position: right;
    }

    &__link {
        margin-left: 40px;
        margin-top: 740px;
    }

}